---
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import type { Document } from "@contentful/rich-text-types";
import type { Asset } from "contentful";
import Tags from "./Tags.astro";
dayjs.extend(localizedFormat);

interface Props {
  title: string;
  content: Document;
  summary: string;
  mainImage: Asset;
  date: Date;
  categories: Array<string>;
  slug: string;
}

const {
  title,
  content,
  summary,
  mainImage,
  date,
  categories,
  slug
} = Astro.props;
---

<body>
  <section
    class="recipeInfo max-w-5xl m-auto flex flex-col items-center w-full my-6 lg:my-12 text-center mt-8 lg:mt- px-4"
  >
    <h1 class="font-display text-app-theme text-4xl lg:text-5xl mb-4">
      {title}
    </h1>
    <time class="font-sans block mb-2">
      <small>{date}</small>
    </time>
    <Tags tags={categories} />
    <div class="my-4 md:flex gap-4 m-auto">
      <img src={mainImage.fields.file?.url} />
    </div>
    <div set:html={summary} class="mb-6 md:mb-12 text-lg text-left" />
    <article set:html={content} class="flex flex-col gap-4 text-left text-lg" />
  </section>
</body>
